body {
	background-color: #333;
	color: #FFF;
	text-align: center;

	font-family: Calibri,'Ubuntu', sans-serif;
}

.controls {
	text-transform: uppercase;
}

.control-title {
	font-size: 90%;
}

h1, h2 {
	font-family: 'Black Ops One', monospace;
}

header {
	margin-bottom: 50px;
}

section {
	margin-bottom: 30px;
}

#clock {
	border: solid 2px green; 
	width: 50%;
	padding-bottom: 10%;
	border-radius: 50%; 
	//clear: both;
	cursor: pointer;
}

#clock-txt {
	margin-top: 25%;
	font-size: xx-large;
}

#time {
	margin-top: 25%;
	font-size: x-large;
}
